<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form action="#" th:action="@{/entry}" th:object="${entry}" method="post">
    <p th:if="${#fields.hasErrors('idNumber')}" th:errors="*{idNumber}">Name Error</p>
    <p>ID Number: <input type="text" th:field="*{idNumber}" /></p>

    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</p>
    <p>Name: <input type="text" th:field="*{name}" /></p>

    <p th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Name Error</p>
    <p>Surname: <input type="text" th:field="*{surname}" /></p>

    <p th:if="${#fields.hasErrors('cellphone')}" th:errors="*{cellphone}">Name Error</p>
    <p>Cellphone Number: <input type="text" th:field="*{cellphone}" /></p>

    <p th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}">Name Error</p>
    <p>Gender: <input type="text" th:field="*{gender}" /></p>

    <p th:if="${#fields.hasErrors('acceptedTermsAndConditions')}" th:errors="*{acceptedTermsAndConditions}">Name Error
    <p>Terms & Conditions:<input type="checkbox" th:field="*{acceptedTermsAndConditions}" th:value="*{acceptedTermsAndConditions}"/></p>

    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>